<div class="fr wp250 notice_main_area">
    <!--TITLE-->
    <p class="hidden pb8 border_e5_b">
        <strong class="fl txt_44 fz16 lh26">공지사항</strong>
        <a href="javascript:OpenPopupNotice('//news.winjoygame.com/News/PopupList?serviceCode=pk');" class="fr mt2 txt_44 fz12 lh26 ">더보기<img src="//webstatic.winjoygame.com/v1/poker/img/icon/plus_wh8_black.png" alt="+" class="ml5 v-align-base"></a>
    </p>
    <!--NOTICE-->
    <div class="mt5 bul_list_area hover_blue lh22">

        <a class="txt_88 fz13 txt_over lh22" href="javascript:OpenPopupNotice('//news.winjoygame.com/News/PopupView?serviceCode=pk&amp;newsSeq=221');"><strong class="pr5 txt_44">[공지]</strong>윈조이플러스 오픈 안내</a>
        <a class="txt_88 fz13 txt_over lh22" href="javascript:OpenPopupNotice('//news.winjoygame.com/News/PopupView?serviceCode=pk&amp;newsSeq=222');"><strong class="pr5 txt_44">[공지]</strong>윈조이 플러스 계정 연동 방법 안내</a>
        <a class="txt_88 fz13 txt_over lh22" href="javascript:OpenPopupNotice('//news.winjoygame.com/News/PopupView?serviceCode=pk&amp;newsSeq=179');"><strong class="pr5 txt_44">[공지]</strong>이용자보호인증 획득 안내</a>
        <a class="txt_88 fz13 txt_over lh22" href="javascript:OpenPopupNotice('//news.winjoygame.com/News/PopupView?serviceCode=pk&amp;newsSeq=163');"><strong class="pr5 txt_44">[안내]</strong>불법환전 근절 캠페인</a>

    </div>
    <!--AVATAR-->
    <a href="javascript:openPopWindow('//poker.winjoygame.com/Poker/PopUpMyGamePokerChipCoupon', 980, 680);" class="block wp250 h71 mt15"><img src="//webstatic.winjoygame.com/v1/poker/img/mainvisual/main_bottom_banner1.png" alt=""></a>
    <a href="//poker.winjoygame.com/PokerExchange/Index" class="block wp250 h71 mt2"><img src="//webstatic.winjoygame.com/v1/poker/img/mainvisual/main_bottom_banner2.png" alt=""></a>
    <a href="//www.winjoygame.com/MobileGame/WinjoyPoker" class="block wp250 h71 mt2"><img src="//webstatic.winjoygame.com/v1/poker/img/mainvisual/main_bottom_banner3.png" alt=""></a>
</div>