<div class="level-bonus">
    <mat-tab-group dynamicHeight="true">
        <mat-tab label="실버" class="ni_tab">
            <div class="tac mt40">
                <img src="https://webstatic.winjoygame.com/v1/poker/img/common/color_box_w111h95_diamond.png">
                <p class="bonus-part1">7,400억원</p>
                <p class="bonus-part2">실버패밀리 혜택</p>
                <p class="bonus-part3">매일 20억원 +3회 머니 리필</p>
                <p class="bonus-part3">출금통장 7,400억 머니 지급</p>
                <p class="bonus-part3">게임도우미, 슈퍼방장 아이템 제공</p>
            </div>
        </mat-tab>
        <mat-tab label="골드" class="ni_tab">
            <div class="tac mt40">
                <img src="https://webstatic.winjoygame.com/v1/poker/img/common/color_box_w111h95_diamond.png">
                <p class="bonus-part1">7,400억원</p>
                <p class="bonus-part2">실버패밀리 혜택</p>
                <p class="bonus-part3">매일 20억원 +3회 머니 리필</p>
                <p class="bonus-part3">출금통장 7,400억 머니 지급</p>
                <p class="bonus-part3">게임도우미, 슈퍼방장 아이템 제공</p>
            </div>
        </mat-tab>
        <mat-tab label="VIP" class="ni_tab">
            <div class="tac mt40">
                <img src="https://webstatic.winjoygame.com/v1/poker/img/common/color_box_w111h95_diamond.png">
                <p class="bonus-part1">7,400억원</p>
                <p class="bonus-part2">실버패밀리 혜택</p>
                <p class="bonus-part3">매일 20억원 +3회 머니 리필</p>
                <p class="bonus-part3">출금통장 7,400억 머니 지급</p>
                <p class="bonus-part3">게임도우미, 슈퍼방장 아이템 제공</p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
