:host {
    ::ng-deep {
        .mat-tab-label {
            min-width: 33% !important;
            border-right: 2px solid #e2e2e2;
            border-bottom: 2px solid #e2e2e2;
            opacity: 1;
        }
        .mat-tab-label:last-child{
            border-right: none;
        }
        .mat-ink-bar{
            display: none;
        }
        .mat-tab-label-active{
            border-bottom: none;
            background: #617fa3;
            color: #fff !important;
        }
        .mat-tab-header{
            border-bottom: none  !important;
        }
    }

    .level-bonus{
        width: 100%;
        float: left;
        border: 2px solid #e2e2e2;
        .bonus-part1{
            color: #324369;
            font-size: 25px;
            font-weight: bold;
        }
        .bonus-part2{
            color: #434846;
            font-size: 23px;
            font-weight: bold;
        }
        .bonus-part3{
            color: #a4bdd0;
            font-size: 15px;
            font-weight: bold;
        }
    }

}
