.recomm_family_area{
    .recomm_dia {
        background: url(https://webstatic.winjoygame.com/v1/poker/img/img/img_members_shadow_diamond.png) no-repeat 157px 40px;
    }
    .family_coupon {
        height: 75px;
        background: url(https://webstatic.winjoygame.com/v1/poker/img/main/bg_recommend_ticket.png) no-repeat 0 0;
    }
}