<div class="fl wp250 recomm_family_area">
    <p class="hidden">
        <strong class="fl txt_44 fz16 lh26">추천 포커멤버스</strong>
        <a href="//poker.winjoygame.com/Poker/MembersMain" class="fr mt2 txt_44 fz12 lh26">더보기<img src="//webstatic.winjoygame.com/v1/poker/img/icon/plus_wh8_black.png" alt="+" class="ml5 v-align-base"></a>
    </p>
    <div class="mt7">
        <!--다이아몬드-->
        <div class="mt3 pl20 pr20 pt10 border_db recomm_dia">
            <p class="txt_3b fz18 fw600"><strong class="txt_dia">다이아몬드</strong> 멤버스</p>
            <p class="mt8 txt_80 fz11 lh14">
                보너스코인 12조 혜택<br>
                아바타 보너스코인 7,000억 더!<br>
                보유한도 +5,000조로 UP!<br>
            </p>
            <a href="//poker.winjoygame.com/Poker/MembersDIAMOND" class="inline_block wp90 mt10 bg_dia txt_white fz11 fw300 tac lh28">자세히보기<img src="//webstatic.winjoygame.com/v1/poker/img/icon/arr_w4h7_white_right.png" alt=">" class="vat mt10 ml10"></a>
        </div>
        <!--다이아몬드-->
        <div class="mt3 pl20 pr20 pt10 border_db recomm_gold">
            <p class="txt_3b fz18 fw600"><strong class="txt_gold">골드</strong> 멤버스</p>
            <p class="mt8 txt_80 fz11 lh14">
                보너스코인 3조5,000억 혜택<br>
                아바타 보너스코인 3,000억 더!<br>
                보유한도 +2,500조로 UP!<br>
            </p>
            <a href="//poker.winjoygame.com/Poker/MembersGOLD" class="inline_block wp90 mt10 bg_gold txt_white fz11 fw300 tac lh28">자세히보기<img src="//webstatic.winjoygame.com/v1/poker/img/icon/arr_w4h7_white_right.png" alt=">" class="vat mt10 ml10"></a>
        </div>
    </div>
    <!--FAMILY_COUPON-->
    <a href="//poker.winjoygame.com/Poker/MembersGiftcard" class="hidden block mt5 family_coupon">
        <p class="mt20 ml30 txt_44 fz17"><strong class="txt_blue_2f5">포커멤버스</strong> 개월권</p>
        <p class="mt5 ml30 txt_77 fz12">자동결제 부담 없이 멤버스 혜택 받자!</p>
    </a>
</div>