<div class="fl box_shadow shadow_k05 gostop_avatar_area">
    <div class="avatar_list_area">
        <mat-tab-group dynamicHeight="true">
            <mat-tab label="일반" class="ni_tab">
                <div class="h277 pb30 pt20 border_blue_d5d border_t_none">
                    <div class="fl wp145 ml4">
                        <!--THUMNAIL-->
                        <p class="wp145"><img src="//webstatic.winjoygame.com/v1/poker/img/main/members_avatar_normal.png" alt="" class="block w100"></p>
                        <!--PRICE-->
                        <p class="mt4 txt_blue_4a8 fz12 tac mb3"><span class="txt_yellow_ff7">3조3,000억</span></p>
                        <p class="mt3 txt_yellow_ff7 fz12 tac mb3"><img src="//webstatic.winjoygame.com/v1/poker/img/icon/ico_wh14_won.png" alt="" class="vat mr3"><span class="">10,000</span></p>
                        <!--BUTTON-->
                        <div class="tac">
                            <mat-checkbox class="itemcheckbox" formControlName="itemId"></mat-checkbox>
                            <a class="wp68  color_btn color_ffffff" href="javascript:NotLogin();"><span><span class="h20 txt_44 fz12 lh20 tac ">구매</span></span></a>
                        </div>
                    </div>
                    <div class="fl wp145 mr15">
                        <!--THUMNAIL-->
                        <p class="wp145"><img src="//webstatic.winjoygame.com/v1/poker/img/main/members_avatar_gold.png" alt="" class="block w100"></p>
                        <!--PRICE-->
                        <p class="mt4 txt_blue_4a8 fz12 tac mb3"><span class="txt_yellow_ff7">3조5,000억</span></p>
                        <p class="mt3 txt_yellow_ff7 fz12 tac mb3"><img src="//webstatic.winjoygame.com/v1/poker/img/icon/ico_wh14_won.png" alt="" class="vat mr3"><span class="">10,000</span></p>
                        <!--BUTTON-->
                        <div class="tac">
                            <mat-checkbox class="itemcheckbox" formControlName="itemId"></mat-checkbox>
                            <a class="wp68  color_btn color_ffffff" href="javascript:NotLogin();"><span><span class="h20 txt_44 fz12 lh20 tac ">구매</span></span></a>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="실버" class="ni_tab">
                <div class="h277 pl30 pb30 pt25 border_blue_d5d border_t_none">
                    <div class="fl wp85 ml4_up">
                        <!--THUMNAIL-->
                        <p class="wp75 h83 mlauto mrauto border_9c"><img src="//webstatic.winjoygame.com/item_img/dp_images/Layer14/L14_8948_S.gif" alt="" class="block w100"></p>
                        <!--PRICE-->
                        <p class="mt4 txt_blue_4a8 fz12 tac mb3"><span class="txt_yellow_ff7">1조6,500억</span></p>
                        <p class="mt3 txt_yellow_ff7 fz12 tac mb3"><img src="//webstatic.winjoygame.com/v1/poker/img/icon/ico_wh14_won.png" alt="" class="vat mr3"><span class="">5,000</span></p>
                        <!--BUTTON-->
                        <mat-checkbox class="itemcheckbox" formControlName="itemId"></mat-checkbox>
                        <a class="wp68 color_btn color_ffffff" href="javascript:NotLogin();"><span><span class="h20 txt_44 fz12 lh20 tac ">구매</span></span></a>
                    </div>
                    <div class="fl wp85 ml25">
                        <!--THUMNAIL-->
                        <p class="wp75 h83 mlauto mrauto border_9c"><img src="//webstatic.winjoygame.com/item_img/dp_images/Layer14/L14_8944_S.gif" alt="" class="block w100"></p>
                        <!--PRICE-->
                        <p class="mt4 txt_blue_4a8 fz12 tac mb3"><span class="txt_yellow_ff7">1조6,500억</span></p>
                        <p class="mt3 txt_yellow_ff7 fz12 tac mb3"><img src="//webstatic.winjoygame.com/v1/poker/img/icon/ico_wh14_won.png" alt="" class="vat mr3"><span class="">5,000</span></p>
                        <!--BUTTON-->
                        <div class="tac">
                            <mat-checkbox class="itemcheckbox" formControlName="itemId"></mat-checkbox>
                            <a class="wp68  color_btn color_ffffff" href="javascript:NotLogin();"><span><span class="h20 txt_44 fz12 lh20 tac ">구매</span></span></a>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="골드" class="ni_tab">
                <div class="h277 pl30 pb30 pt25 border_blue_d5d border_t_none">
                    <div class="fl wp85 ml4_up">
                        <!--THUMNAIL-->
                        <p class="wp75 h83 mlauto mrauto border_9c"><img src="//webstatic.winjoygame.com/item_img/dp_images/Layer14/L14_8948_S.gif" alt="" class="block w100"></p>
                        <!--PRICE-->
                        <p class="mt4 txt_blue_4a8 fz12 tac mb3"><span class="txt_yellow_ff7">1조6,500억</span></p>
                        <p class="mt3 txt_yellow_ff7 fz12 tac mb3"><img src="//webstatic.winjoygame.com/v1/poker/img/icon/ico_wh14_won.png" alt="" class="vat mr3"><span class="">5,000</span></p>
                        <!--BUTTON-->
                        <div class="tac">
                            <mat-checkbox class="itemcheckbox" formControlName="itemId"></mat-checkbox>
                            <a class="wp68  color_btn color_ffffff" href="javascript:NotLogin();"><span><span class="h20 txt_44 fz12 lh20 tac ">구매</span></span></a>
                        </div>
                    </div>
                    <div class="fl wp85 ml25">
                        <!--THUMNAIL-->
                        <p class="wp75 h83 mlauto mrauto border_9c"><img src="//webstatic.winjoygame.com/item_img/dp_images/Layer14/L14_8944_S.gif" alt="" class="block w100"></p>
                        <!--PRICE-->
                        <p class="mt4 txt_blue_4a8 fz12 tac mb3"><span class="txt_yellow_ff7">1조6,500억</span></p>
                        <p class="mt3 txt_yellow_ff7 fz12 tac mb3"><img src="//webstatic.winjoygame.com/v1/poker/img/icon/ico_wh14_won.png" alt="" class="vat mr3"><span class="">5,000</span></p>
                        <!--BUTTON-->
                        <mat-checkbox class="itemcheckbox" formControlName="itemId"></mat-checkbox>
                        <a class="wp68 color_btn color_ffffff" href="javascript:NotLogin();"><span><span class="h20 txt_44 fz12 lh20 tac ">구매</span></span></a>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="VIP" class="ni_tab">
                <div class="h277 pl30 pb30 pt25 border_blue_d5d border_t_none">
                    <div class="fl wp85 ml4_up">
                        <!--THUMNAIL-->
                        <p class="wp75 h83 mlauto mrauto border_9c"><img src="//webstatic.winjoygame.com/item_img/dp_images/Layer14/L14_8948_S.gif" alt="" class="block w100"></p>
                        <!--PRICE-->
                        <p class="mt4 txt_blue_4a8 fz12 tac mb3"><span class="txt_yellow_ff7">1조6,500억</span></p>
                        <p class="mt3 txt_yellow_ff7 fz12 tac mb3"><img src="//webstatic.winjoygame.com/v1/poker/img/icon/ico_wh14_won.png" alt="" class="vat mr3"><span class="">5,000</span></p>
                        <!--BUTTON-->
                        <div class="tac">
                            <mat-checkbox class="itemcheckbox" formControlName="itemId"></mat-checkbox>
                            <a class="wp68  color_btn color_ffffff" href="javascript:NotLogin();"><span><span class="h20 txt_44 fz12 lh20 tac ">구매</span></span></a>
                        </div>
                    </div>
                    <div class="fl wp85 ml25">
                        <!--THUMNAIL-->
                        <p class="wp75 h83 mlauto mrauto border_9c"><img src="//webstatic.winjoygame.com/item_img/dp_images/Layer14/L14_8944_S.gif" alt="" class="block w100"></p>
                        <!--PRICE-->
                        <p class="mt4 txt_blue_4a8 fz12 tac mb3"><span class="txt_yellow_ff7">1조6,500억</span></p>
                        <p class="mt3 txt_yellow_ff7 fz12 tac mb3"><img src="//webstatic.winjoygame.com/v1/poker/img/icon/ico_wh14_won.png" alt="" class="vat mr3"><span class="">5,000</span></p>
                        <!--BUTTON-->
                        <div class="tac">
                            <mat-checkbox class="itemcheckbox" formControlName="itemId"></mat-checkbox>
                            <a class="wp68  color_btn color_ffffff" href="javascript:NotLogin();"><span><span class="h20 txt_44 fz12 lh20 tac ">구매</span></span></a>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="footer-item tac pt15 pb15">
            <button class="wp77 gray-btn mr5 ">2개 선택</button>
            <button class="wp77 gray-btn mr5 ">3개 선택</button>
            <button class="wp77 green-btn mr5 ">구매하기</button>
        </div>
    </div>
</div>
