<div class="dialog-content-wrapper">

    <div  fxLayout="row" fxLayoutAlign="center">
        <img src = "/assets/images/logo.png">
    </div>

    <div mat-dialog-content class="py-0 px-0 m-0" id="login_container" >
        <block-ui>
            <mat-tab-group fxLayout="column" fxFlex>
                <mat-tab label="로그인">
                    <div fxLayout="column" fxLayoutAlign="center" [@animateStagger]="{value:'500'}">

                        <form name="loginForm" [formGroup]="loginForm" novalidate fxLayout="column" fxLayoutAlign="center"  (ngSubmit)="onLoginSubmit()">

                            <mat-form-field appearance="outline">
                                <mat-label>아이디</mat-label>
                                <input matInput formControlName="email" maxlength="128" type="text">
                                <mat-error
                                    *ngIf="!loginForm.get('email').hasError('required')">
                                    아이디를 입력해 주세요.
                                </mat-error>
                            </mat-form-field>
            
                            <mat-form-field appearance="outline">
                                <mat-label>비밀번호</mat-label>
                                <input matInput type="password" formControlName="password" maxlength="20">
                                <mat-error>
                                    비밀번호를 입력해 주세요.
                                </mat-error>
                            </mat-form-field>
            
                            <div class="remember" fxLayout="row" fxLayout.xs="column"
                                fxLayoutAlign="space-between center">
                                <mat-checkbox class="remember-me" aria-label="Remember Me" formControlName="rememberCheckbox">
                                    Remember Me ?
                                </mat-checkbox>
                            </div>
            
                            <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                                    [disabled]="loginForm.invalid">
                                로그인
                            </button>
            
                        </form>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </block-ui>
    </div>

</div>
