@import "src/@fuse/scss/fuse";

.share-dialog {
    @include media-breakpoint('xs') {
        width: 100%;
    }
    //@include media-breakpoint('gt-xs') {
        width: 400px;
    //}
    .mat-dialog-container {
        padding: 0;
        background: white;
        border-radius: 15px !important;
        
        .action {
            width: 100%;
            font-size: 18px;
            border-radius: 0px;
            height: 50px;
            color: #777777;
        }
    }


}