<div  class="dialog-content-wrapper"  fxLayout="column" fxLayoutAlign="center center">
    
    <h1 style="margin-bottom:30px">
        Share
    </h1>

    <button mat-button class="action" (click)="sharefacebook()">Share to Facebook</button>
    <button mat-button class="action" (click)="shareMessenger()">Share to Messenger</button>
    <button mat-button class="action" (click)="shareTwitter()">Share to Twitter</button>
    <button mat-button class="action" (click)="shareEmail()">Share via Email</button>
    <button mat-button class="action" (click)="copyLink()">Copy Link</button>
    <button mat-button class="action" (click)="dialogRef.close()">Cancel</button>
        
</div>

