<mat-toolbar>
    <div class="wp1140 mrauto mlauto">
        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button routerLink="/documentation/getting-started/introduction">회사소개</a>
            <span>&bull;</span>
            <a mat-button routerLink="/documentation/changelog">약관보기</a>
            <span>&bull;</span>
            <a mat-button routerLink="/documentation/changelog">개인정보처리방침</a>
            <span>&bull;</span>
            <a mat-button routerLink="/documentation/changelog">전자우편</a>
        </div>
    </div>
</mat-toolbar>
